__pycache__/
*.pyc
.venv/
venv/
uploads/
.env
artifacts/rag/chunks/
artifacts/rag/embeddings/
artifacts/rag/raw_pages/
artifacts/rag/indexes/
artifacts/rag/day3-demo/
artifacts/rag/hf_models/all-MiniLM-L6-v2/onnx/
artifacts/rag/hf_models/all-MiniLM-L6-v2/openvino/
artifacts/rag/hf_models/all-MiniLM-L6-v2/._____temp/
artifacts/rag/hf_models/all-MiniLM-L6-v2/.msc
artifacts/rag/hf_models/all-MiniLM-L6-v2/rust_model.ot
artifacts/rag/hf_models/all-MiniLM-L6-v2/tf_model.h5
artifacts/rag/hf_models/all-MiniLM-L6-v2/train_script.py
artifacts/rag/hf_models/all-MiniLM-L6-v2/data_config.json
artifacts/rag/hf_models/all-MiniLM-L6-v2/README.md
artifacts/rag/hf_models/all-MiniLM-L6-v2/configuration.json
